<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="http://furkanuzun.wordpress.com" class="navbar-brand">Furkan Uzun</a></div>

    <ul class="navbar-nav">
   <!-- *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" false ise gösteme  Yani kullanıcı bu alanı göremesin-->
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/Furkan" class="nav-link">Home</a> </li>
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
        <!-- *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" false ise göster  Yani kullanıcı yoksa gösterme login olabilsin-->
      <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</header>